@import '~antd/dist/antd.css';

.site-layout-content {
    background-color: rgba(95, 158, 160, 0.43);
    padding: 24px;
    min-height: 280px;
    border-radius: .1875rem;
  }
  #components-layout-demo-top .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
  }

  * {
    box-sizing: border-box;
  }